main {
  .pokemon-card {
    margin-bottom: 0.25rem;
    width: 14em;
    background-color: $card-color;
    transition: transform 0.5s ease;
    border-radius: 1rem;
  }
  .pokemon-description {
    list-style-image: url("../images/pokeball.svg");
    text-align: left;
    padding-left: 1rem;
  }

  .upper-transition-buttons-container {
    width: 30%;
    display: none;
    .upper-previous-button,
    .upper-next-button {
      background-color: $button-color;
      border: none;
    }
  }
  .lower-transition-buttons-container {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lower-previous-button,
    .lower-next-button {
      background-color: $button-color;
      border: none;
    }
  }

  .error-pokemon-card {
    margin-bottom: 0.25rem;
    width: 14em;
    background-color: $card-color;
    transition: transform 0.5s ease;
    border-radius: 1rem;
  }

  .error-pokemon-description {
    list-style-image: url("../images/pokeball.svg");
    text-align: left;
    padding-left: 1rem;
  }

  .homepage-button {
    background-color: $button-color;
    border: none;
  }

  .pokemon-card:hover {
    transform: scale(0.97);
  }

  .error-pokemon-card:hover {
    transform: scale(0.97);
  }

  @media screen and (max-width: 820px) {
    .upper-transition-buttons-container {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
    }
  }

  @media screen and (max-width: 820px) {
    .lower-transition-buttons-container {
      width: 50%;
    }
  }
}
